body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom, #333, #555);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    color: #eee;
}

.game {
    position: relative;
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    border: 8px solid #222;
    border-radius: 20px;
    background-color: #111;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.score {
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 24px;
}

.girl {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    max-width: 800px;
    height: auto;
    background-color: rgba(50, 50, 50, 0.8);
    border: 5px solid #222;
    border-radius: 40px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

img {
    position: fixed;
    bottom: 0;
    left: 10px;
    width: 15%;
    max-width: 150px;
    transition: transform 0.3s ease;
}

img:hover {
    transform: scale(1.1);
}

h3 {
    font-size: 36px;
    color: #ddd;
    margin: 20px 0;
}

a {
    display: inline-block;
    padding: 15px 30px;
    background-color: #555;
    color: #eee;
    text-decoration: none;
    border-radius: 8px;
    font-size: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

a:hover {
    background-color: #333;
}

.player {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 50%;
    bottom: 0;
    left: 0;
}

.monster {
    
    background-color: #ff0000;
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: ('girl1.png');
    border-radius: 50%;
    bottom: 50px;
    right: 0px;
}